@import "../../variable.module.scss";

.productByCategoryContainer {
  margin: 16px;
  background-color: $headerPrimaryColor;
  border-radius: 8px;

  .pageHeading {
    font-weight: 600;
    font-size: 20px;
    padding: 24px 16px;
    border-bottom: 1px solid $borderColor;
  }
  .productConatienr {
    margin: 16px 0;
    padding: 32px 32px 0 32px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
  }
}
