@import "../../variable.module.scss";

.productContainer {
  margin: 16px;
  padding: 16px;

  background-color: $headerPrimaryColor;
  border-radius: 8px;
  .productHeading {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  .productList {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
  }
}

@media (max-width: 850px) {
  .productContainer {
    .productList {
      grid-template-columns: 50% 50%;
      gap: 0;
    }
  }
}

@media (max-width: 600px) {
  .productContainer {
    .productList {
      grid-template-columns: 100%;
      gap: 0;
    }
  }
}
