@import "../../variable.module.scss";

.headerContainer {
  background-color: $headerPrimaryColor;
  .firstRow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #472673;
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
    .redHeading {
      color: $redColor;
      margin-right: 4px;
    }
  }
  .secondRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    .primaryItems {
      display: flex;
      align-items: center;
      .logoAndNameContainer {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        margin-right: 8px;
        .logoImage {
          padding: 0 8px 8px 8px;
          height: 50px;
          cursor: pointer;
          width: 70px;
        }
        .logoName {
          font-size: 18px;
        }
      }
      .inputContainer {
        width: 300px;
        margin-right: 24px;
        .searchInput {
          padding: 8px;
          width: 100%;
          border-radius: 8px !important;
          font-family: inherit;
        }
      }
    }
    .secondaryItems {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 800px;

      .thirdRow {
        display: flex;
        flex-direction: row;
        .thirdRowItem {
          padding-left: 0 !important;
          list-style: none;
          display: flex;
          align-items: center;
          flex-direction: row;
          .listItem {
            font-size: 20px;
            text-decoration: none;
            margin-right: 16px;
            .listItemLink {
              padding-bottom: 4px;
              font-weight: 600;
              color: $primaryButtonColor;
              text-decoration: none;
            }
          }
        }
      }
      .rigthCornerContainer {
        display: flex;
        flex-direction: row;
        .iconContainer {
          font-weight: 600;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          .removeUnderLine {
            color: $primaryButtonColor !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.headerIcon {
  margin-right: 8px;
  height: 32px;
  width: 32px;
}

.active {
  // margin-top: 4px;
  color: #000 !important;
  border-bottom: 2.5px solid #333;
}
