@import "../../variable.module.scss";

.headerContainer {
  background-color: $headerPrimaryColor;
  .firstRow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #472673;
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
    .redHeading {
      color: $redColor;
      margin-right: 4px;
    }
  }
  .secondRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    .primaryItems {
      display: flex;
      align-items: center;
      .logoAndNameContainer {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        margin-right: 8px;
        .imgAndName {
          display: flex;
          align-items: center;
          .mainLogoHeading {
            font-weight: 600;
            text-transform: capitalize;
          }
        }
        .logoImage {
          padding: 0 8px 8px 8px;
          height: 50px;
          cursor: pointer;
          width: 70px;
        }
        .logoName {
          margin-left: 8px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .inputContainer {
        width: 300px;
        margin-right: 24px;

        .searchInput {
          padding: 8px;
          width: 100%;
          border-radius: 8px !important;
          font-family: inherit;
        }
      }
    }
    .navigationIcon {
      display: none;
    }
    .secondaryItems {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 800px;

      .thirdRow {
        display: flex;
        flex-direction: row;
        .thirdRowItem {
          padding-left: 0 !important;
          list-style: none;
          display: flex;
          align-items: center;
          flex-direction: row;
          .listItem {
            font-size: 20px;
            text-decoration: none;
            margin-right: 16px;
            .listItemLink {
              padding-bottom: 4px;
              font-weight: 600;
              color: $primaryButtonColor;
              text-decoration: none;
            }
          }
        }
      }
      .rigthCornerContainer {
        display: flex;
        flex-direction: row;
        .iconContainer {
          font-weight: 600;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          .removeUnderLine {
            color: $primaryButtonColor !important;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.headerIcon {
  margin-right: 8px;
  height: 32px;
  width: 32px;
}

.active {
  // margin-top: 4px;
  color: #000 !important;
  border-bottom: 2.5px solid #333;
}
.mobileMenuBtn {
  display: none;
}

@media (max-width: 850px) {
  .headerContainer {
    .firstRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px;
      .redHeading {
        font-size: 14px;
      }
      .redHeadingSub {
        font-size: 10px;
        text-align: center;
      }
    }
    .secondRow {
      .primaryItems {
        .logoAndNameContainer {
          padding: 8px;
          .mainLogoHeading {
            display: none;
          }
          .logoImage {
            height: 32px;
            width: 40px;
          }
        }
        .inputContainer {
          width: 372px;
          margin-left: 64px;
        }
        .logoName {
          display: none;
        }
      }
      padding: 6px 4px;
      .navigationIcon {
        margin-right: 14px;
        display: block;
        .naviIcon {
          height: 32px;
        }
      }
      .secondaryItems {
        display: none;
      }
    }
  }
  .mobileMenuBtn {
    display: block;
  }
  nav p {
    display: none;
  }
  .mobileMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.menuCheckbox {
  display: none;
}

.menuCheckbox:checked ~ .mobileNavigateionContainer {
  animation: slide-in 0.5s ease;
  animation-fill-mode: forwards;
}

.disBloack {
  display: block;
}
.disNone {
  display: none;
}

.mobileNavigateionContainer {
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $borderColor;
  z-index: 9;
  .menuContainer {
    padding: 32px 16px;
    .menuHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .headerText {
        font-weight: 600;
        font-size: 24px;
      }
      .closeIcon {
        height: 30px;
      }
    }
  }
  .MenuRoutList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 96px 8px;
    .mobileLinkContainer {
      margin-bottom: 24px;
      .listItemLinkMobile {
        padding: 8px;
        font-size: 48px;
        text-decoration: none;
      }
    }
  }
  .mobileNavContact {
    display: flex;
    flex-direction: column;
    .iconContainerMobile {
      display: flex;
      // justify-content: center;
      align-items: center;
      margin-bottom: 12px;

      .removeUnderLine {
        font-size: 40px;
        text-decoration: none;
      }
      .headerIconMobile {
        margin-right: 16px;
        height: 56px;
        width: 56px;
      }
    }
  }
}

@media (max-width: 600px) {
  .headerContainer {
    .firstRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px;
      .redHeading {
        font-size: 14px;
      }
      .redHeadingSub {
        font-size: 10px;
        text-align: center;
      }
    }
    .secondRow {
      .primaryItems {
        .logoAndNameContainer {
          padding: 8px;
          .mainLogoHeading {
            display: none;
          }
          .logoImage {
            height: 32px;
            width: 40px;
          }
        }
        .inputContainer {
          width: 240px;
        }
        .logoName {
          display: none;
        }
      }
      padding: 6px 4px;
      .navigationIcon {
        margin-right: 14px;
        display: block;
        .naviIcon {
          height: 32px;
        }
      }
      .secondaryItems {
        display: none;
      }
    }
  }
  .mobileMenuBtn {
    display: block;
  }
  nav p {
    display: none;
  }
  .mobileMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.menuCheckbox {
  display: none;
}

.menuCheckbox:checked ~ .mobileNavigateionContainer {
  animation: slide-in 0.5s ease;
  animation-fill-mode: forwards;
}

.disBloack {
  display: block;
}
.disNone {
  display: none;
}

.mobileNavigateionContainer {
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $borderColor;
  z-index: 9;
  .menuContainer {
    padding: 32px 16px;
    .menuHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .headerText {
        font-weight: 600;
        font-size: 24px;
      }
      .closeIcon {
        height: 30px;
      }
    }
  }
  .MenuRoutList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 96px 8px;
    .mobileLinkContainer {
      margin-bottom: 24px;
      .listItemLinkMobile {
        padding: 8px;
        font-size: 48px;
        text-decoration: none;
      }
    }
  }
  .mobileNavContact {
    display: flex;
    flex-direction: column;
    .iconContainerMobile {
      display: flex;
      // justify-content: center;
      align-items: center;
      margin-bottom: 12px;

      .removeUnderLine {
        font-size: 40px;
        text-decoration: none;
      }
      .headerIconMobile {
        margin-right: 16px;
        height: 56px;
        width: 56px;
      }
    }
  }
}
@media (max-width: 400px) {
  .headerContainer {
    .secondRow {
      .primaryItems {
        .inputContainer {
          width: 220px;
        }
      }
    }
  }
}
