$headerPrimaryColor: #ffffff;
$primaryBackgroundColor: #eeeeee;
$redColor: #ec0101;
$primaryButtonColor: #266150;
$borderColor: #ccc;
$secondaryButtonColor: #fcb800;
$headermessagebackgroundColor: #a3bcb6;
